html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comic Relief', cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../public/estrellas.gif');
  background-size: 200% 200%;
  color: #fff;
  animation: gradientMove 60s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  width: 100%;
}